<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script src="../../../dist/main.js"></script>
     </head>

    <body>

       <div id="container">
            
        <div class="header box" id="header">Trip Planner</div>
        <div class="box" id="results">Trip Information
            <div class="smallbox"id="destination"></div>
            <div class="smallbox" id="departing"></div>
            <div class="smallbox" id="counting-down">Counting down</div>
            <div class="smallbox" id="place-photo"></div>
        </div>
        <div class="box input" id="enter">
            <form>
             <label>My trip: </label>
             <input id="location" type="text" name="location" placeholder="Enter location">
             <br><br>
             <label>Departing: </label>
             <input id="date" type="date" name="date">
            </form>
            

        </div>
       </div>>
           
          

        <footer>
            
        </footer>

       <!-- <script src="../../../dist/main.js"></script> -->
        <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
    </body>
</html>
