<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
     </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <div class="navigation">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="Input" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="" placeholder="Enter URL"> <!--onBlur() removed to stop error messages-->
                    <input id="submit" type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <div id=result_header>Form Results:</div>
                <div id="results">
                    <!-- <div id="model"></div>
                    <div id="score_tag"></div> -->
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                </div>
            </section>
        </main>

        <footer>
            <div id="copyright">The starter code and instructions for completing this project were courtesy of Udacity.com</div>
            <div id="api-credit">The Natural Language Processing API is courtesy of <a href="https://www.meaningcloud.com/developer/sentiment-analysis">MeaningCloud</a></div>
        </footer>

       <script src="../index.js"></script>
        <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
    </body>
</html>
