<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script src="../../../dist/main.js"></script>
     </head>

    <body>

        <header>
            <h1> this is a demo for Travel-App-Testing before implementing the code</h1>
            <div class="logo">
                Logo
            </div>
            <div class="navigation">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="Input" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="" placeholder="Enter URL"> 
                    <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <div id=result_header>Form Results:</div>
                <div id="results">
                   
                    
                </div>
            </section>
        </main>

        <footer>
            
        </footer>

       <!-- <script src="../../../dist/main.js"></script> -->
        <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
    </body>
</html>
